
#contactcontents
{
    background-color: rgba(234, 241, 234, 0.5);
    padding: 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 137px;
}

#mainForm
{
    padding: 50px;
    width: 50%;
    margin: auto;
    background-color: rgba(85, 165, 65, 0.3);
    border: rgb(91, 83, 99) solid 7px;
}

h1{
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 20px;
}

p{
    margin: 10px 0px;
}

textarea
{
    width: 80%;
}

label
{
    display: block;
    float: left;
    width: 30%;
}

span
{
    color: red;
}
h2{
    font-size: xx-large;
    color: rgb(255, 7, 120);
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border: rgb(91, 83, 99) solid 6px;
    border-radius: 30px;
    visibility: hidden;
    background-color: rgba(161, 214, 63, 0.9);
}