
#cvcontents
{
    background-color: rgba(119, 240, 119, 0.329);
    padding: 80px;
    display: flex;
    flex-direction: column;
}

h1{
    display: block;
    margin: auto;
    font-weight: bolder;
    font-size: xx-large;
}











#akiffoto 
{
    width: 20%;
    float: right;
    border: solid 10px rgb(140, 199, 44);
    border-radius: 5%;
}
#anitafoto
{
    width: 20%;
    float: left;
    border: solid 10px rgb(140, 199, 44);
    border-radius: 5%;
}