
#wrapper
{
    min-width: 500px;
    max-width: 1200px;
    margin: 0px auto 0px auto;
    
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Color */
footer, #navdiv
{
    background-color: rgb(85, 165, 65);
}

/* Footer */

footer
{
    
    padding-top: 6px;
    padding-bottom: 0px;
    position: sticky;
    margin-top: auto;
    width: 100%;
}

footer p
{
    padding-top: 10px;
    float: right;
    padding-right: 7px;
    color: white;
}


/* Navigation bar*/


#navdiv
{
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 99;
    position: sticky;
}

#Logo img{
    margin-left: 5px;
    height: 55px;
    width: 170px;
}

#navbar-right
{
    margin-top: 3px;
    float: right;
}

#navbar-right a{
    text-decoration: none;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    line-height: 50px;
    color: white;
    
    
}

#navbar-right a:hover
{
    color: rgb(255, 47, 172);
}


/* Backround image */
/* Used solution 2 from this page to center the backround: https://css-tricks.com/perfect-full-page-background-image/ */


#bg
{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}