
#projectcontents
{
    background-color: rgba(234, 241, 234, 0.7);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
    text-align: center;
    font-size: xx-large;
}

hr{
    border:solid 3px rgb(91, 83, 99);
    border-radius: 10px;
    padding-right: 850px;
}
#power
{
    align-items: center;
    display: flex;
    flex-direction: column;
}



#intro-text
{
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 120%;
}
/* slideshow*/
#show
{
    width: 850px;
    height: 570px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 0px;
    border: black solid 3px;
    background-color: rgba(66, 89, 224, 0.5);
}

#images img{
    width: 850px;
    height: 420px;
    display: none;
}

#images img.active
{
    display: inline-block;
}

#description
{
    width: 850px;
    height: 65px;
    text-align: center;
    margin-top: 35px;
    font-size: x-large;
    overflow: hidden;
    
}

#description p
{
    display: none;
}

#description p.active
{
    display: inline-block;
}

#buttons
{
    width: 850px;
    height: 50px;
    background-color: black;
}

button{
    background-color: aqua;
    border: none;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    
}

#previous-button
{
    float: left;
    margin-left: 200px;
}

#next-button
{
    float: right;
    margin-right: 200px;
    
}

h2{
    font-size: x-large;
    margin-top: 35px;
    width: 800px;
}

h3{
    margin-top: 20px;
    font-size: x-large;
    width: 800px;
}

#imgblock
{
    width: 850px;
    height: 800px;
    display: none;
    
}

#imgblock.show
{
    display: inline-block;
}

#downloadbutton
{
    text-decoration: none;
    margin-top: 35px;
    border: red solid 5px;
    background-color: violet;
    padding: 20px;
}