
#projectcontents
{
    background-color: rgba(234, 241, 234, 0.5);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    color:rgb(255, 7, 120);
}

hr{
    border:solid 3px rgb(91, 83, 99);
    border-radius: 10px;
    padding-right: 850px;
}
#power
{
    align-items: center;
    display: flex;
    flex-direction: column;
}



#intro-text
{
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 125%;
    border: rgb(91, 83, 99) solid 7px;
    padding: 10px;
    background-color: rgba(85, 165, 65, 0.3);
}

span{
    font-size: 110%;
    font-style: italic;
    font-weight: 200;
}
/* slideshow*/
#show
{
    width: 850px;
    height: 570px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 0px;
    border: rgb(91, 83, 99) solid 7px;
    border-bottom: rgb(91, 83, 99) solid 3px;
    background-color: rgba(85, 165, 65, 0.3);
}

#images img{
    width: 850px;
    height: 420px;
    display: none;
}

#images img.active
{
    display: inline-block;
}

#description
{
    width: 850px;
    height: 65px;
    text-align: center;
    margin-top: 35px;
    font-size: x-large;
    overflow: hidden;
    
}

#description p
{
    display: none;
}

#description p.active
{
    display: inline-block;
}

#buttons
{
    width: 850px;
    height: 50px;
    background-color: rgb(91, 83, 99);
}

button{
    margin-top: 3px;
    background-color: rgba(161, 214, 63, 0.9);
    border: none;
    color: rgb(255, 7, 120);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    
}

#previous-button
{
    float: left;
    margin-left: 200px;
}

#next-button
{
    float: right;
    margin-right: 200px;
    
}
/* end show */
h2{
    font-size: x-large;
    margin-top: 35px;
    width: 800px;
    border: rgb(91, 83, 99) solid 7px;
    padding: 10px;
    background-color: rgba(85, 165, 65, 0.4);
}

h3{
    margin-top: 20px;
    font-size: x-large;
    width: 800px;
    border: rgb(91, 83, 99) solid 7px;
    padding: 10px;
    background-color: rgba(85, 165, 65, 0.5);
}

#imgblock
{
    width: 850px;
    height: 800px;
    display: none;
    
}

#imgblock.show
{
    display: inline-block;
}

#downloadbutton
{
    font-size: xx-large;
    color: rgb(255, 7, 120);
    text-decoration: none;
    margin-top: 20px;
    padding: 20px;
    border: rgb(91, 83, 99) solid 6px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(161, 214, 63, 0.9);
}