
#projectcontents
{
    background-color: rgba(234, 241, 234, 0.5);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#power
{
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1
{
    text-align: center;
    font-size: xx-large;
}

hr{
    border:solid 3px rgb(91, 83, 99);
    border-radius: 10px;
    padding-right: 850px;
}

#intro-text
{
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#show
{
    width: 850px;
    height: 570px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 0px;
    border: black solid 3px;
    background-color: rgba(66, 89, 224, 0.5);
}

.pp{
    width: 850px;
    height: 420px;
    display: none;
}

#img0
{
    display: inline-block;
}

#description
{
    width: 850px;
    height: 65px;
    text-align: center;
    margin-top: 35px;
    font-size: x-large;
    overflow: hidden;
    
}

.des
{
    display: none;
}

#des0
{
    display: inline-block;
}

#buttons
{
    width: 850px;
    height: 50px;
    background-color: black;
}

button{
    background-color: aqua;
    border: none;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    
}

#previous-button
{
    float: left;
    margin-left: 200px;
}

#next-button
{
    float: right;
    margin-right: 200px;
    
}